<nav>
    <ul class="menu">
            <li class="logo"><a href="#"><img src="<%= assetPath('logo.png') %>" alt="Logo" width="40" height="40"/></a></li>
            <li class="item"><a href="#"><%= admin.username %></a></li>
        <div class="options-alignment">
          <li class="item"><a href="<%= allUsersPath %>">Users</a></li>
          <li class="item"><a href="<%= allCommentsPath %>">Comments</a></li>
          <li class="item"><a href="<%= allPublicationsPath %>">Publications</a></li>
          <li class="item"><a href="<%= adminAccessReportPath %>">Reports</a></li>
          <li><form action="<%= adminsignOutPath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input class="delete-button" type="submit" value="Sign Out" />
          </form> </li>
        </div>
    </ul>
  </nav>
  <div class="main">
    <div class="alignment-admin">
      <div id="bandera">
        <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="100%">
      </div>
      <div class="">
        <table class="content-table" style="width:100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Publication ID</th>
              <th>User ID</th>
              <th>Description</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th>Delete</th>
            </tr>
          </thead>
          <% reports.forEach(report => { %>
          <tbody>
            <tr>
              <td><%= report.id %></td>
              <td><%= report.publicationId%></td>
              <td><%= report.userId %></td>
              <td><%= report.description %></td>
              <td><%= report.createdAt %></td>
              <td><%= report.updatedAt %></td>
              <td>
                <form action="<%= adminDeleteReportPath(report) %>" method="POST">   
                  <input type="hidden" name="_method" value="DELETE">
                  <input class="delete-button" type="submit" value="Delete">  
                </form>
              </td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      <div class=filler> </div>
    </div>
  </div>
  <div class="grey-backround"></div>