<a href="<%= commentsPath  %>"> Back to Comments</a>


<div>
    <h2> Comentario a Publicacion: <%= comment.publicationId %></h2>
    <p>Description: <%= comment.description %></p>
    <p>Created by : <%= comment.userId %></p>
</div>

<a href="<%= editCommentPath %>">Edit</a>