</div>
<div class="main">
  <div class="alignment">
      <div id="bandera">
          <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="100%">
      </div>
      <div id="recuadro">
          <div class="box-feed">
            <div class="field-alignment">
              <div class="box-separator">
                <div class="field-alignment-row-sp">

                  <div class="round-pic">
                    <% if (publication.user.picture){ %>
                      <img class="profile-pic" src="<%= cloudinary.url(user.picture, {transformation: [{width: 800, height: 800, gravity: 'face', radius: 'max', crop: 'crop'},{width: 200, crop: 'scale'}]}) %>" width="60" height="60">
                      <% } else {%> 
                      <img src="<%=assetPath('no-pic.png')%>" width="60" height="60">
                      <% }%>  
                    
                  </div>
                  <div class="search-alignment">
                      <h3> <%= publication.user.username %> </h3>
                  </div>
                  <div class="filler"></div>
                  
                </div>
              </div>
            
              <div class="filler"></div>
              <div class="filler"></div>

             </div>
                <div class="box-separator">
                  <div class="box-separator">
                    <div class="search-alignment">
                      <h2> <%= publication.name %></a></h2>
                    </div>
                  </div>
                  <% if (publication.recipesPictures){ %>
                    <p> <img class="photo-content" src="<%= cloudinary.url(publication.recipesPictures) %>" > </p>
                    <% }%>
                      <p> Ingredients: <%= publication.ingredients %></p>
                      <p> Preparation time: <%= publication.time %></p>
                      <p> Steps: <%= publication.steps %></p>
                      <p>Description: <%= publication.description %></p>
                      <p>Know how many calories this preparation has! <a class="button" href="<%= questionApiPath(publication) %>"><span>Click here</span></a> </p>
                      <div class="field-alignment-row-sp">
                      <div class='react-like' data-publication="<%= JSON.stringify(publication.currentUserLikedPublication) %>" data-pub="<%= JSON.stringify(publication)%>" data-likes="<%= JSON.stringify(publication.likes)%>" >
                      </div>
                      <div><% if (publication.currentUserSavedPublication){ %>
                        <form action="<%= unsavedPublicationPath(publication) %>" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="save-button" type="submit" ><img src="<%=assetPath('saved.png')%>" width="25" height="25"></button>
                        </form>
                        <% } else {%> 
                        <form action="<%= savedPublicationPath(publication) %>" method="POST">
                          <input type="hidden" name="_method" value="PUT">
                          <button class="save-button" type="submit"><img src="<%=assetPath('save.png')%>" width="25" height="25"></button>
                        </form>
                        <% }%>  
                      </div>
                    </div>
                </div>
                    <!-- <div class="field-alignment-row-sp">
                      <p>Likes: <%= publication.likes %> </p>
                      <div>
                        <% if (publication.currentUserLikedPublication){ %>
                          <form action="<%= unlikePublicationPath(publication) %>" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="unlike">
                          </form>
                          <% } else {%> 
                          <form action="<%= likePublicationPath(publication) %>" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="submit" value="like">
                          </form>
                          <% }%>  
                      </div>  
                      </div> -->



                      <div>
                        <% comments.forEach(comment => { %>
                          <p>  <a href="<%= userPath(comment.user) %>"><%= comment.user.username %> </a> : <%= comment.description %></p>
                            <!-- <p><%= comment.user.username %>: <%= comment.description %></p> -->
                        <% }); %>
                      </div>
                      <%- include("../comments/_form") %>


                      <div class="box-separator"></div>
                      <a href=" <%= newReportPath %>" > New Report</a>
                      <% if (currentUser.id == publication.userId){ %>
                          <p><a href="<%= editPublicationPath %>">Edit Publication</a></p>
                      <% }; %> 
                      </div>
                 
          </div>
          <br>
      </div>
      <div class=filler></div>
  </div>
</div>
<div class="grey-backround"></div>



<!-- <div> 
    <h2><%= publication.name %></h2>
    <p> Ingredientes: <%= publication.ingredients %></p>
    <p> Tiempo de Preparación: <%= publication.time %></p>
    <p> Pasos: <%= publication.steps %></p>
    <p> Ranking: <%= publication.ranking %></p>
    <p> Fotos: <%= publication.recipesPictures %></p>
    <p> Video: <%= publication.recipesVideos %></p>
    <p>Descripcion: <%= publication.description %></p>

    

    <p>Likes: <%= publication.likes %> </p>

    <div>
      <% if (publication.currentUserLikedPublication){ %>
        <form action="<%= unlikePath %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="unlike">
        </form>
        <% } else {%> 
        <form action="<%= likePath %>" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <input type="submit" value="like">
        </form>
        
        <% }%>  
    </div>
</div> -->


