<a href="<%= feedPath  %>"> Back to Feed</a>


<div> 
    <h2><%= publication.name %></h2>
    <p> Ingredientes: <%= publication.ingredients %></p>
    <p> Tiempo de Preparación: <%= publication.time %></p>
    <p> Pasos: <%= publication.steps %></p>
    <p> Ranking: <%= publication.ranking %></p>
    <p> Fotos: <%= publication.recipesPictures %></p>
    <p> Video: <%= publication.recipesVideos %></p>
    <p>Descripcion: <%= publication.description %></p>

    <!-- <p>Created At : <%= publication.createdAt %></p> -->

    <p>Likes: <%= publication.likes %> </p>

    <div>
      <% if (publication.currentUserLikedPublication){ %>
        <form action="<%= unlikePath %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="unlike">
        </form>
        <% } else {%> 
        <form action="<%= likePath %>" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <input type="submit" value="like">
        </form>
        
        <% }%>  
    </div>
</div>

<p><a href="<%= editPublicationPath %>">Edit</a></p>

<h2>Comentarios</h2>

<div>
    <% comments.forEach(comment => { %>
        <p><%= comment.user.username %>: <%= comment.description %></p>
    <% }); %>
</div>

<h2>Crear comentario</h2>

<%- include("../comments/_form") %>

<!-- <p><a href="<%= reportsPath %>">Denuncias</a></p> -->
<a href=" <%= newReportPath %>" > New Report</a>
