<a href="<%= publicationsPath  %>"> Back to Publications</a>


<div> 
    <h2><%= publication.name %></h2>
    <p> Ingredientes: <%= publication.ingredients %></p>
    <p> Tiempo de Preparación: <%= publication.time %></p>
    <p> Pasos: <%= publication.steps %></p>
    <p> Ranking: <%= publication.ranking %></p>
    <p> Fotos: <%= publication.recipesPictures %></p>
    <p> Video: <%= publication.recipesVideos %></p>
    <p>Descripcion: <%= publication.description %></p>

    <!-- <p>Created At : <%= publication.createdAt %></p> -->
</div>

<p><a href="<%= editPublicationPath %>">Edit</a></p>

<h2>Comentarios</h2>

<div>
    <% comments.forEach(comment => { %>
        <p><%= comment.user.username %>: <%= comment.description %></p>
    <% }); %>
</div>

<h2>Crear comentario</h2>

<%- include("../comments/_form") %>

<!-- <p><a href="<%= reportsPath %>">Denuncias</a></p> -->
<a href=" <%= newReportPath %>" > New Report</a>
