<!DOCTYPE html>
<html>
 
  <head>
    <meta charset="utf-8">
    <title>Cheffer</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>
 
  <% if (currentUser){ %>
    <nav>
      <ul class="menu">
          <li class="logo"><a href="<%= feedPath %>"><img src="<%= assetPath('logo.png') %>" alt="Logo" width="40" height="40"/></a></li>
          <div class="search-alignment">
            <li class="item"><input class="insert-text" type="text" name="search" id="search"></li>
            <li class="item"><a href="#"><img src="<%= assetPath('lupa.png') %>" alt="lupa" width="25" height="20"/></a></li>
          </div>
          <div class="options-alignment">
            <li class="item"><a href="#"><img src="<%= assetPath('activity.png') %>" alt="act" width="25" height="20"/></a></li>
            <li class="item"><a href="<%= newPublicationPath %>"><img src="<%= assetPath('upload.png') %>" alt="upload" width="25" height="20"/></a></li>
            <li class="item"><a href="<%= messagesPath %>"><img src="<%= assetPath('messages.png') %>" alt="mssgs" width="25" height="20"/></a></li>
            <li class="item"><a href="#"><img src="<%= assetPath('explore.JPG') %>" alt="explore" width="25" height="20"/></a></li>
            <li class="item"><a href=" <%= userPath(currentUser) %>">Profile</a></li>
            <li class="item"><a href="<%= editUserPath %>">Edit</a></li>
          </div>
      </ul>
    </nav>
  <% }%> 
  <body>
    
    <!-- <header>
      <div id="logo">
        <a href="/"> <img src="<%= assetPath('logo.png') %>" alt="Logo" width="50" height="50"/> </a>
      </div>
    </header> -->
    
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
