</div>
<div class="main">
  <div class="alignment">
      <div id="bandera">
          <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
      </div>
      <div id="recuadro">
          <div class="box-feed">
            <div class="field-alignment">
              <div class="box-separator">
                <h2> Edit User </h2>
              </div>
               
<div>
    <% if (locals.errors) { %>
        <div class="errors">
            You need to fix the following errors:
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.message %></li>
                    <% }); %>
            </ul>
        </div>
        <% } %>

        <form action="<%= submitUserPath %>" method="POST">
            <% if (!user.isNewRecord) { %>
            <input type="hidden" name="_method" value="PATCH">
            <% } %>
            <div class="field">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" value="<%= user.name%>">
            </div>
            <div class="field">
                <label for="lastname">Apellido:</label>
                <input type="text" name="lastname" id="lastname" value="<%= user.lastname%>">
            </div>
            <div class="field">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" value="<%= user.username%>">
            </div>
            <div class="field">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="<%= user.email%>">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="field">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" />
            </div>
            <div class="field">
                <label for="picture">Foto de perfil</label>
                <input type="file" name="picture" id="picture" value="<%= user.picture%>">
            </div>
            <div class="field">
                <label for="country">País: </label>
                <input type="text" name="country" id="country" value="<%= user.country%>">
            </div>
            <div class="field">
                <label for="description">Descripcion: </label>
                <input name="description" id="description" rows="4" cols="30" value="<%= user.description%>">
            </div>
            <div class="field">
                <% if (user.isNewRecord) { %>
                <input type="submit" value="Create User">
                <% } else { %>
                <input type="submit" value="Update User">
                <form action="<%= deleteUserPath %>" method="POST">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" value="Delete User">
                </form>
                <% } %>
            </div>     
        </form>
</div> 




              <div class="filler"></div>
              <div class="filler"></div>

             </div>

          </div>
          <br>
      </div>
      <div class=filler></div>
  </div>
</div>
<div class="grey-backround"></div>



