<!-- <a href="<%= userPath %>"> Back to User <%= user.name %> <%= user.lastname %></a> -->



<%- include("_form") %>

<!-- <form action="<%= deleteUserPath %>" method="POST">
    <input type="hidden" name="_method" value="delete"/>
    <input type="submit" value="Delete User">
</form> -->