<div class="main">
    <div class="alignment">
        <div id="bandera">
            <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
        </div>
        <div id="recuadro">
            <div class="box-feed">
                <div class="field-alignment">
                  <div class="box-separator">
                    <div class="field-alignment-row">
                      <div class="round-pic">
                        <img src="<%= cloudinary.url(user.picture, {transformation: [{width: 800, height: 800, gravity: 'face', radius: 'max', crop: 'crop'},{width: 200, crop: 'scale'}]}) %>" width="60" height="60">
                      </div>
                      <div class="field-alignment-column-sp">
                        <p><%= user.username %></p>
                        <p><%= user.name %> <%= user.lastname %></p>
                        <p> Following <%= userFollowingData.following %> Followed <%= userFollowingData.followedBy %></p>
                        <!-- En el siguiente div se hace el boton para seguir y no seguir-->
                        <div>
                          <% if (currentUser.id != user.id){ %>
                          <% if (userFollowingData.beingFollowed){ %>
                          <form action="<%= unfollowPath %>" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Unfollow">
                          </form>
                          <% } else { %>
                          <form action="<%= followPath %>" method="POST">   
                            <input type="hidden" name="_method" value="PUT">
                            <input type="submit" value="Follow">  
                          </form>
                          <% }%>
                          <% }%> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if (currentUser.id != user.id){ %>
                    <p><a href="<%= newMessagePath %>">Enviar mensaje a <%= user.username %> </a></p> 
                  <% }%> 
                  <div class="field-alignment-row-sp">
                    <a href="<%= profilePath %>"><img src="<%= assetPath('posts.png') %>" alt="posts" width="25" height="20"/>Posts</a>
                    <a href="<%= savedPublicationsViewPath %>"><img src="<%= assetPath('saved.png') %>" alt="saved" width="25" height="20"/>Saved</a>
                    <a href="#"><img src="<%= assetPath('tagged.png') %>" alt="tagged" width="25" height="20"/>Tagged</a>
                  </div>
                  
                  <% publications.forEach(publication => { %>
                    <h2> <a href="<%= publicationPath(publication) %>"> <%= publication.name %></a></h2>
                    <p> <img class="photo-content" src="<%= cloudinary.url(publication.recipesPictures) %>" > </p>
                    <p> Ingredientes: <%= publication.ingredients %></p>
                    <p> Tiempo de Preparación: <%= publication.time %></p>
                    <p> Pasos: <%= publication.steps %></p>
                    <!-- <p> Ranking: <%= publication.ranking %></p> -->
                    <!-- <p> Video: <%= publication.recipesVideos %></p> -->
                    <p>Descripcion: <%= publication.description %></p>
                    <p>Likes: <%= publication.likes %> </p>
  
                    <div>
                      <% if (publication.currentUserLikedPublication){ %>
                        <form action="<%= unlikePublicationPath(publication) %>" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="submit" value="unlike">
                        </form>
                        <% } else {%> 
                        <form action="<%= likePublicationPath(publication) %>" method="POST">
                          <input type="hidden" name="_method" value="PUT">
                          <input type="submit" value="like">
                        </form>
                        <% }%>  
                    </div>

                    <div>
                        <% if (publication.currentUserSavedPublication){ %>
                          <form action="<%= unsavePublicationPath(publication) %>" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="unsave">
                          </form>
                          <% } else {%> 
                          <form action="<%= savePublicationPath(publication) %>" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="submit" value="save">
                          </form>
                          <% }%>  
                      </div>
                    
                  <% }); %>
                
                  <!-- Publicaciones hacia abajo  hacer un fieldalign column sp y para el lado un for que haga fieldalign row sp-->
                
                  <div class="filler"></div>
                  <div class="filler"></div>
              </div>
            </div>
            <br>
        </div>
        <div class=filler></div>
    </div>
  </div>
  <div class="grey-backround"></div>