<a href="<%= usersPath  %>"> Back to Users</a>


<div>
    <h2><%= user.name %> <%= user.lastname %></h2>
    <p><%= user.username %></p>

</div>
<ul> 
    <li>Profile</li>
    <li>Feed</li>
    <li>Explore</li>
    <li>Activity</li>
    <li>Messages</li>
  </ul>

<% if (currentUser.id === user.id){ %>
  <p><a href="<%= editUserPath %>">Edit</a></p>
  <p><a href="<%= messagesPath %>">Mensajes</a></p>
<% }%> 

<p><a href="<%= publicationsPath %>">Publicaciones</a></p>

<% if (currentUser.id != user.id){ %>
  <p><a href="<%= newMessagePath %>">Enviar mensaje a <%= user.username %> </a></p> 
<% }%> 
 
