<div class="main">
    <div class="alignment">
        <div id="bandera">
            <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="570">
        </div>
        <div id="recuadro">
            <div class="box">
                <h1 style="text-align:center"> <img src="<%= assetPath('cheffer-inicio.png') %>" width="100" height="50"></h1>
                <% if (locals.errors) { %>
                    <div class="errors">
                        <% if (errors == "C") { %>
                            <p> Password don't match </p>
                        <% } else { %>
                        <p> El usuario no se puede crear debido a:</p>
                        <ul>
                            <% errors.forEach(validationError => { %>
                                <li> <%= validationError.path %>: <%= validationError.message %></li>
                                <% }); %>
                        </ul>
                    </div>
                <% }} %>
        

                <form action="<%= createUserPath %>" method="POST" enctype="multipart/form-data">
                    <div class = "field-alignment">
                        <label for="name">Nombre:</label>
                        <input class="insert-text" type="name" name="name" id="name" value="<%= user.name%>" />
                    
                        <label for="lastname">Apellido:</label>
                        <input class="insert-text" type="text" name="lastname" id="lastname" value="<%= user.lastname%>"  />
                    
                        <label for="username">Username:</label>
                        <input class="insert-text" type="text" name="username" id="username"  value="<%= user.username%>" />
                    
                        <label for="email">Email:</label>
                        <input class="insert-text" type="email" name="email" id="email"  value="<%= user.email%>" />
                    
                        <label for="password">Password:</label>
                        <input class="insert-text" type="password" name="password" id="password" />
                    
                        <label for="confirmPassword">Confirm Password:</label>
                        <input class="insert-text" type="password" name="confirmPassword"  />
                    
                        <label for="picture">Foto de perfil:</label>
                        <input class="insert-text" type="file" name="picture" id="picture"  value="<%= user.picture%>" />
                    
                        <label for="country">País: </label>
                        <input class="insert-text" type="text" name="country" id="country" value="<%= user.country%>" />
                    
                        <label for="description">Descripción: </label>
                        <input class="insert-text" type="text" name="description" id="description" rows="4" cols="30" value="<%= user.description%>" />
                    </div>
                    <div class="field" style="text-align:center">
                        <input type="submit" name="sign-up" value="Sign Up">
                    </div>
                </form>
            </div>
            <br>
        </div>
        <div class=filler></div>
    </div>
</div>
<div class="grey-backround"></div>
<div id="react-app"></div>
