<h2>Messages</h2>

<!-- <p>Cantidad de Messages: <%= messages.length %></p> -->

<div>
    <% messages.forEach(message => { %>
        <% if (currentUser.id === message.senderId){ %>
            <p>Mensaje para <a href="<%= userPath(message.user) %>"><%= message.user.username %> </a>: <a href="<%= messagePath(message) %>"><%= message.description %> </a></p>
            <!-- <p><a href="<%= messagePath(message) %>"><%= message.description %> </a></p> -->
        <% }%>
    <% }); %>
</div>

<!-- <a href=" <%= newMessagePath %>" > New Message</a>   -->

