<a href="<%= messagesPath  %>"> Back to Messages</a>


<div>
    <h2>Message from: <%= currentUser.username %>, to: <%= userR.username %> </h2>
    <p>Description: <%= message.description %></p>
</div>

<a href="<%= editMessagePath %>">Edit</a>  
