<a href="<%= messagesPath  %>"> Back to Messages</a>


<div>
    <h2>Message from: <%= message.senderId %>, to: <%= message.receiverId %> </h2>
    <p>Description: <%= message.description %></p>
</div>

<a href="<%= editMessagePath %>">Edit</a>