<!-- <a href="<%= messagesPath  %>"> Back to Messages</a> -->
 

<!-- <div>
    <h2>Message from: <%= currentUser.username %>, to: <%= userR.username %> </h2>
    <p>Description: <%= message.description %></p>
</div> -->



 
</div>

<div class="main">
  <div class="alignment">
      <div id="bandera">
          <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
      </div>
      <div id="recuadro">
          <div class="box-feed">
              <div class="field-alignment">
                <div class="box-separator">
                  <div class="field-alignment-row-sp">
                    <div class="round-pic">
                        <img src="<%= assetPath('no-pic.png') %>" width="60" height="60">
                    </div>
                    <div class="search-alignment">
                        <h3> To <%= userR.username %> </h3>
                    </div>
                    <div class="filler"></div>     
                  </div>
                </div>
                <p> <%= message.description %></p>
                <% if (currentUser.id === message.senderId) { %>
                  <a href="<%= editMessagePath %>">Edit</a>  
                  <% }  %>
                
               
                <!-- Publicaciones hacia abajo  hacer un fieldalign column sp y para el lado un for que haga fieldalign row sp-->
              
                <div class="filler"></div>
                <div class="filler"></div>
            </div>
          </div>
          <br>
      </div>
      <div class=filler></div>
  </div>
</div>
<div class="grey-backround"></div>