
<nav>
    <ul class="menu">
        <li class="logo"><a href="<%= publicationsPath %>"><img src="<%= assetPath('logo.png') %>" alt="Logo" width="40" height="40"/></a></li>
        <div class="search-alignment">
          <li class="item"><input class="insert-text" type="text" name="search" id="search"></li>
          <li class="item"><a href="#"><img src="<%= assetPath('lupa.png') %>" alt="lupa" width="25" height="20"/></a></li>
        </div>
        <div class="options-alignment">
          <li class="item"><a href="#"><img src="<%= assetPath('activity.png') %>" alt="act" width="25" height="20"/></a></li>
          <li class="item"><a href="#"><img src="<%= assetPath('upload.png') %>" alt="upload" width="25" height="20"/></a></li>
          <li class="item"><a href="<%= messagesPath %>"><img src="<%= assetPath('messages.png') %>" alt="mssgs" width="25" height="20"/></a></li>
          <li class="item"><a href="#"><img src="<%= assetPath('explore.JPG') %>" alt="explore" width="25" height="20"/></a></li>
          <li class="item"><a href="#">Profile</a></li>
          <li class="item"><a href="<%= editUserPath %>">Edit</a></li>
        </div>
    </ul>
  </nav>
  
  </div>
  <div class="main">
    <div class="alignment">
        <div id="bandera">
            <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
        </div>
        <div id="recuadro">
            <div class="box-feed">
                <div>
                    <% publications.forEach(publication => { %>
                        <h1><a href="<%= publicationPath(publication) %>"><%= publication.name %></a></h1>
                        <p><%= publication.ingredients %></p>
                        <p><%= publication.time %></p>
                        <p><%= publication.steps %></p>
                        <p><%= publication.ranking %></p>
                        <p><%= publication.pictures %></p>
                        <p><%= publication.recipesVideos %></p>
                        <p><%= publication.description %></p>
                    <% }); %>
                </div>
            </div>
            <br>
        </div>
        <div class=filler></div>
    </div>
  </div>
  <div class="grey-backround"></div>
