
 
  
  </div>
  <div class="main">
    <div class="alignment">
        <div id="bandera">
            <img src="<%= assetPath('bandera-lateral.png') %>" width="40" height="498">
        </div>
        <div id="recuadro">
            <div class="box-feed">
              <% publicationsFiltered.forEach(publication => { %>
              <div class="field-alignment">
                <div class="box-separator">
                  <div class="field-alignment-row-sp">
                    <div class="round-pic">
                      <img src="<%= assetPath('no-pic.png') %>" width="60" height="60">
                    </div>
                    <div class="search-alignment">
                        <h2> <a href="<%= userPath(publication.user) %>"><%= publication.user.username %> </a> </h2>
                    </div>
                    
                  </div>
                </div>
              
                <div class="filler"></div>
                <div class="filler"></div>

               </div>
                      <div class="box-separator">
                        <div class="search-alignment">
                          <h3> <a href="<%= publicationPath(publication) %>"><%= publication.name %></a></h3>
                        </div>
                      </div>

                        
                        <p> <img class="photo-content" src="<%= cloudinary.url(publication.recipesPictures) %>" > </p>
                        <p> Ingredientes: <%= publication.ingredients %></p>
                        <p> Tiempo de Preparación: <%= publication.time %></p>
                        <p> Pasos: <%= publication.steps %></p>
                        <!-- <p> Ranking: <%= publication.ranking %></p> -->
                        
                        <!-- <p> Video: <%= publication.recipesVideos %></p> -->
                        <p>Descripcion: <%= publication.description %></p>
                        <div class="field-alignment-row-sp">
                        <p>Likes: <%= publication.likes %> </p>

                        <div>
                          <% if (publication.currentUserLikedPublication){ %>
                            <form action="<%= unlikePublicationPath(publication) %>" method="POST">
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value="unlike">
                            </form>
                            <% } else {%> 
                            <form action="<%= likePublicationPath(publication) %>" method="POST">
                              <input type="hidden" name="_method" value="PUT">
                              <input type="submit" value="like">
                            </form>
                            <% }%>  
                        </div>
                      </div>
                    <% }); %>
                    
                
            </div>
            <br>
        </div>
        <div class=filler></div>
    </div>
  </div>
  <div class="grey-backround"></div>
