<a href="<%= reportsPath  %>"> Back to Reports </a>


<div>
    <h2> Report to Publication: <%= report.publicationId %></h2>
    <p>Description: <%= report.description %></p>
    <p>Created by : <%= report.userId %></p>
    <p>Created At : <%= report.createdAt %></p>
</div>

<a href="<%= editReportPath %>">Edit</a>